body {
    margin: 0;
    opacity: 0.7;
}
html, h3 {
    font-family: 'lato';
    color: #242424;
}

p {
    color: #383838;
}

.text-white {
    color: #ffffff;
}

.bg {
    background-image: url("../imgs/animation/img1.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    animation-name: animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}

@keyframes animation {
    0%   { background-image: url("../imgs/animation/img1.jpg");}
    15%  { background-image: url("../imgs/animation/img2.jpg");}
    35%  { background-image: url("../imgs/animation/img3.jpg");}
    50%  { background-image: url("../imgs/animation/img4.jpg");}
    70%  { background-image: url("../imgs/animation/img5.jpg");}
    85%  { background-image: url("../imgs/animation/img6.jpg");}
    100% { background-image: url("../imgs/animation/img7.jpg");}

}

.nav section {
    display: inline-block;
    margin-left: 2em;
    font-size: 13px;
}

.nav section ul {
    cursor: pointer;
    list-style: none;
    display: inline-block;
}

.nav section ul li {
    justify-content: center;
}

.my-hover li:hover {
    display: flex;
    align-items: flex-end;
    width: 120%;
    height: 2px;
    line-height: 2em;
    border-radius: 20px;
    background-color: #67AD44; 
}

.nav-image img{
    max-width: 13em;
    margin: 2.5em 7em 0em 4em;
}

.my-button {
    font-size: 14px;
    text-align: center;
    margin: 4px;
}

.my-button-colorless {
    background-color: #ffffff;
    border: 2px solid #68ad43;
}

.my-button-colorless:hover {
    background-color: #68ad43;
    color: #ffffff;
}

.nav-button {
    width: 8em; 
    padding: 0.7em 0.5em;  
}

.my-button-green {
    border: 2px solid #68ad43;
    background-color: #68ad43;
    color: #ffffff;
}

.my-button-green:hover {
    background-color: #ffffff;
    color: #000000;
}

.button-info {
    width: 18em;
    padding: 1.7em 0.2em;
    cursor: pointer;
}

.button-more {
    width: 10em;
    padding: 1.7em 0.2em;
    cursor: pointer;
}

.my-flex {
    display: flex;
}

.my-justify-content-start {
    justify-content: flex-start;
}

.my-justify-content-between {
    justify-content: space-between;
}

.my-justify-content-end {
    justify-content: flex-end;
}

.my-align-items-start {
    align-items: flex-start;
}

.my-align-items-center {
    align-items: center;
}

.my-align-items-end {
    align-items: flex-end;
}

.my-flex-column {
    flex-direction: column;
}

.my-width-100 {
    width: 100%;
}

.slogan {
    width: 60em;
    margin-top: 4.6em;
}

.slogan h3 {
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
    font-size: 2.2em;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.buttons {
    margin-top: 1em;
    text-align: center;
}

.display-col {
    margin: 1em 6em;
 }
 

.text-col {
   margin: 1.5em 1.5em;
   padding: 1em;
   line-height: 25px;
   text-align: justify;
}

.text-col h4 {
    font-size: 1.3em;
    margin-bottom: 2em;
}


.my-h4:after {
    content: ' ';
    display: flex;
    width: 30%;
    height: 2px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #67AD44;
}

